<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743971208333-brgsqgkpn3ae13sjj4edca65ai19ph8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743971208333-brgsqgkpn3ae13sjj4edca65ai19ph8q</string>
	<key>API_KEY</key>
	<string>AIzaSyCTtKwNTJZrqGSHACQb4FsfLl22yQh7IVE</string>
	<key>GCM_SENDER_ID</key>
	<string>743971208333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cantin.amalgam</string>
	<key>PROJECT_ID</key>
	<string>amalgam-bb357</string>
	<key>STORAGE_BUCKET</key>
	<string>amalgam-bb357.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743971208333:ios:5b2751ef4b9e4d1c1436c4</string>
</dict>
</plist>